
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-20-7LT {
  background-color: rgba(255, 255, 255, 0.8100000024);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-zb6o-r39 {
    width: 144rem;
    height: 22.7rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-kggo-y7m {
    height: 79.7rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .auto-group-ufh9-5Ao {
      top: 1.8rem;
      width: 86.2rem;
      height: 8.6rem;
      position: absolute;
      left: 29.5rem;

      .rectangle-22-aNT {
        border-radius: 1rem;
        width: 86.2rem;
        height: 5.7rem;
        position: absolute;
        left: 0;
        top: 2.9rem;
        background-color: #ffffff;
      }
      .name-hCB {
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        width: 6.7rem;
        height: 3rem;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
        left: 0;
        top: 0;
      }
    }
    .auto-group-rnws-mxj {
      width: 86rem;
      height: 9.1rem;
      position: absolute;
      left: 29.7rem;
      top: 14.2rem;
      display: flex;
      align-items: center;

      .auto-group-5h83-hrP {
        margin: 0.5rem 6.6rem 0rem 0rem;
        width: 39rem;
        height: 8.6rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-23-E5d {
          left: 0;
          top: 2.9rem;
          background-color: #ffffff;
          border-radius: 1rem;
          width: 39rem;
          height: 5.7rem;
          position: absolute;
        }
        .date-of-birth-Ksm {
          left: 0;
          font-weight: 300;
          white-space: nowrap;
          width: 14.3rem;
          height: 3rem;
          font-size: 2.4rem;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          top: 0;
        }
      }
      .auto-group-zdhh-BQB {
        margin-bottom: 0.5rem;
        width: 40.4rem;
        height: 8.6rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-24-WxF {
          width: 40.4rem;
          height: 5.7rem;
          position: absolute;
          left: 0;
          top: 2.9rem;
          background-color: #ffffff;
          border-radius: 1rem;
        }
        .city-T6o {
          font-weight: 300;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          left: 0;
          height: 3rem;
          position: absolute;
          top: 0;
          font-size: 2.4rem;
          line-height: 1.2125;
          width: 4.5rem;
        }
      }
    }
    .auto-group-dypf-wXm {
      width: 86.4rem;
      height: 8.6rem;
      position: absolute;
      left: 29.5rem;
      top: 28.8rem;

      .rectangle-25-gVM {
        width: 86.2rem;
        height: 5.7rem;
        position: absolute;
        left: 0.2rem;
        top: 2.9rem;
        background-color: #ffffff;
        border-radius: 1rem;
      }
      .institution-zkw {
        left: 0;
        font-size: 2.4rem;
        color: #ffffff;
        height: 3rem;
        position: absolute;
        font-weight: 300;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.2rem;
        top: 0;
      }
    }
    .auto-group-o9t5-v8o {
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 68.5rem;
      border: solid 0.1rem #000000;
      width: 29.2rem;
      line-height: 1.2125;
      border-radius: 0.6rem;
      align-items: center;
      background-color: rgba(172, 224, 106, 0.5);
      height: 5.7rem;
      font-size: 2.4rem;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      left: 57.4rem;
      font-weight: 500;
      color: #ffffff;
    }
    .auto-group-uucx-gGP {
      display: flex;
      align-items: center;
      width: 86.2rem;
      height: 8.6rem;
      position: absolute;
      left: 29.7rem;
      top: 42.9rem;

      .auto-group-rb2f-13m {
        margin-right: 5.3rem;
        width: 33.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-27-Lbq {
          height: 5.7rem;
          position: absolute;
          left: 0;
          top: 2.9rem;
          background-color: #ffffff;
          border-radius: 1rem;
          width: 33.7rem;
        }
        .mobile-no-5JX {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 2.4rem;
          font-weight: 300;
          line-height: 1.2125;
          width: 11.7rem;
          height: 3rem;
        }
      }
      .auto-group-ywro-mBM {
        width: 47.2rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-28-Jh5 {
          top: 2.9rem;
          background-color: #ffffff;
          border-radius: 1rem;
          width: 47.2rem;
          height: 5.7rem;
          position: absolute;
          left: 0;
        }
        .e-mail-id-SYP {
          width: 9.8rem;
          position: absolute;
          left: 0;
          font-weight: 300;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 3rem;
          top: 0;
          font-size: 2.4rem;
          color: #ffffff;
        }
      }
    }
    .auto-group-bgeb-wEF {
      display: flex;
      align-items: center;
      width: 28.7rem;
      height: 3.6rem;
      position: absolute;
      left: 29.7rem;
      top: 54.9rem;

      .ellipse-10-s7u {
        flex-shrink: 0;
        margin-right: 0.9rem;
        width: 3.5rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .gold-plan-3-months-b3u {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-voe7-Gvj {
      left: 29.7rem;
      top: 59.8rem;
      display: flex;
      align-items: center;
      width: 35.1rem;
      height: 3.6rem;
      position: absolute;

      .ellipse-11-QX9 {
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.9rem;
        width: 3.5rem;
      }
      .premium-plan-12-months-W4P {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
