
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-14-nkF {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-ha31-8JK {
    margin-bottom: 4.2rem;
    width: 146.3rem;
    height: 13.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-EMM {
      height: 6.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #0e4d92;
      width: 144rem;
    }
    .home-AVu {
      top: 3rem;
      width: 7.2rem;
      height: 3rem;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 17.7rem;
    }
    .account-45V {
      top: 1.1rem;
      font-size: 3.2rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 16.8rem;
      height: 3.9rem;
      font-weight: 300;
      line-height: 1.2125;
      white-space: nowrap;
      position: absolute;
      left: 127.2rem;
    }
    .q-a-yCT {
      width: 4.2rem;
      height: 3rem;
      cursor: pointer;
      font-size: 2.4rem;
      font-weight: 300;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 33.3rem;
      top: 3rem;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .about-tKR {
      width: 8.3rem;
      left: 46.5rem;
      font-weight: 300;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      cursor: pointer;
      position: absolute;
      top: 2.7rem;
      font-size: 2.4rem;
      color: #ffffff;
      white-space: nowrap;
    }
    .ellipse-1-QYf {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 15.1rem;
      height: 13.6rem;
      position: absolute;
      left: 0;
    }
    .genetic-data-svgrepo-com-1-3-vX1 {
      object-fit: contain;
      vertical-align: top;
      width: 8.2461rem;
      height: 7.7875rem;
      position: absolute;
      left: 1.1945rem;
      top: 1.0563rem;
    }
    .line-7-E1u {
      height: 0.1rem;
      position: absolute;
      left: 128.1rem;
      top: 5rem;
      background-color: #ffffff;
      width: 13.6rem;
    }
  }
  .auto-group-kmnp-vQX {
    padding: 3.1rem 1.3rem 3.3rem 1.4rem;
    flex-direction: column;
    border-radius: 0.5rem;
    margin: 0rem 51rem 26.5rem 50.9rem;
    box-sizing: border-box;
    display: flex;
    background-color: #d9d9d9;
    flex-shrink: 0;
    width: calc(100% - 101.9rem);
    align-items: center;

    .sign-up-QKh {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.7rem 0.4rem 0rem;
    }
    .auto-group-e1xj-uGT {
      margin-bottom: 1.4rem;
      width: 100%;
      height: 7.5rem;
      position: relative;
      flex-shrink: 0;

      .username-F5R {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 9.5rem;
        top: 0;
        font-size: 2rem;
        font-weight: 200;
        line-height: 1.2125;
        font-style: italic;
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        left: 0;
      }
      .rectangle-7-jmH {
        top: 2.4rem;
        background-color: #ffffff;
        border-radius: 1rem;
        width: 39.4rem;
        height: 5.1rem;
        position: absolute;
        left: 0;
      }
    }
    .auto-group-wnhv-NpF {
      width: 100%;
      height: 7.45rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 2.25rem;

      .create-password-6kF {
        height: 2.5rem;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1.2125;
        font-style: italic;
        color: #ffffff;
        width: 15.7rem;
        white-space: nowrap;
        font-weight: 200;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
      }
      .rectangle-8-mrP {
        border-radius: 1rem;
        width: 39.4rem;
        height: 5.1rem;
        position: absolute;
        left: 0;
        top: 2.35rem;
        background-color: #ffffff;
      }
    }
    .line-8-W3H {
      margin: 0rem 0.5rem 1.3rem 0.4rem;
      width: calc(100% - 0.9rem);
      height: 0.1rem;
      background-color: #b8b7ae;
      flex-shrink: 0;
    }
    .group-24-ddh {
      flex-shrink: 0;
      margin: 0rem 4.8rem 1.8rem 5.4rem;
      width: calc(100% - 10.2rem);
      height: 5.7rem;
      cursor: pointer;
      border-radius: 0.8rem;

      .group-23-xvs {
        height: 100%;
        font-size: 2rem;
        background-color: rgba(225, 216, 168, 0.5);
        line-height: 1.2125;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        border-radius: 0.8rem;
        font-weight: 800;
        font-style: italic;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #000000;
      }
    }
    .group-20-piB {
      margin: 0rem 2.2rem 0rem 3.4rem;
      width: calc(100% - 5.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .already-have-an-account-Kew {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.2rem 0rem;
        font-size: 1.4rem;
        font-weight: 200;
        line-height: 1.2125;
      }
      .forget-password-dvX {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-2bkj-wgK {
    box-sizing: border-box;
    padding: 1.6rem 15.2rem 1.6rem 5rem;
    width: 100%;
    height: 20.2rem;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .auto-group-9b3m-E9d {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.3rem 0.4rem 2.4rem 0rem;
      width: 3.6rem;
      height: calc(100% - 5.7rem);
      align-items: center;

      .instagram-color-svgrepo-com-1-7jD {
        margin: 0rem 0.7rem 1.6rem 0.3rem;
        width: calc(100% - 1rem);
        overflow: hidden;
        position: relative;
        box-shadow: 0 0.4rem 0.2rem rgba(0, 0, 0, 0.1000000015);
        flex-shrink: 0;

        .instagram-Rzo {
          width: 2.6rem;
          height: 2.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .facebook-svgrepo-com-1-XH9 {
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.9rem 0rem;
        width: 2.7rem;
        height: 2.7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .youtube-svgrepo-com-1-ExF {
        width: 3.6rem;
        height: 3.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-ksx5-yuq {
      height: calc(100% - 6.1rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.7rem 7.9rem 2.4rem 0rem;

      .instagram-v4P {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1rem;
      }
      .facebook-em5 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
      .youtube-AjR {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .auto-group-bnp9-Jaj {
      margin: 3.2rem 0.2rem 1.9rem 0rem;
      height: calc(100% - 5.1rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .linkedin-svgrepo-com-1-dN7 {
        margin: 0rem 0.4rem 0.8rem 0rem;
        width: 3.8rem;
        height: 3.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .gmail-icon-logo-svgrepo-com-1-KVq {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.9rem 0rem;
        width: 2.9rem;
        height: 2.6rem;
      }
      .twitter-1-svgrepo-com-1-cE3 {
        height: 3.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.4rem;
        width: 3.8rem;
      }
    }
    .auto-group-lutm-vEj {
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.7rem 31.3rem 2.4rem 0rem;
      height: calc(100% - 6.1rem);
      display: flex;

      .linkedin-FH1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1rem 0.5rem;
      }
      .g-mail-NcX {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 0.9rem 0.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
      .twitter-Jm5 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-2-epw {
      height: 0.1rem;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.2rem rgba(0, 0, 0, 0.1000000015);
      flex-shrink: 0;
      margin: 0rem 6.203rem 16.9rem 0rem;
      width: 0.0966rem;
    }
    .auto-group-wdpm-j5h {
      height: calc(100% - 10.6rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.2rem 0rem 7.4rem 0rem;

      .call-receive-svgrepo-com-1-pcw {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.8rem 1.3rem 0rem;
        width: 3rem;
        height: 2.6rem;
        object-fit: contain;
      }
      .location-pin-svgrepo-com-1-LrB {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2.8rem;
        height: 2.5rem;
      }
    }
    .auto-group-3zod-5Ys {
      margin: 3.4rem 0rem 2.6rem 0rem;
      height: calc(100% - 6rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item-91-9876556789-cYo {
        flex-shrink: 0;
        margin-bottom: 1.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .a-405-sai-ratnam-cabin-rd-bhayander-east-mumbai-maharashtra-401105-india-81M {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 44.7rem;
        font-size: 2rem;
      }
    }
  }
}
