
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-signup-gKH {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-4nrs-cTq {
    flex-shrink: 0;
    margin-bottom: 8.8rem;
    width: 146.3rem;
    height: 13.6rem;
    position: relative;

    .rectangle-1-7Qb {
      width: 144rem;
      height: 6.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #0e4d92;
    }
    .home-3p3 {
      width: 6.7rem;
      cursor: pointer;
      top: 3rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      left: 17.7rem;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1.2125;
    }
    .account-vN3 {
      width: 10rem;
      left: 132.7rem;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      top: 3.1rem;
      white-space: nowrap;
    }
    .q-a-ckf {
      top: 3rem;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #ffffff;
      height: 3rem;
      position: absolute;
      left: 33.3rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.2rem;
    }
    .about-hXD {
      position: absolute;
      line-height: 1.2125;
      color: #ffffff;
      cursor: pointer;
      height: 3rem;
      left: 46.5rem;
      top: 2.7rem;
      font-size: 2.4rem;
      font-weight: 300;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.4rem;
    }
    .ellipse-1-noZ {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 15.1rem;
      height: 13.6rem;
    }
    .genetic-data-svgrepo-com-1-3-hQj {
      position: absolute;
      left: 1.1945rem;
      top: 1.0563rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.2461rem;
      height: 7.7875rem;
    }
  }
  .auto-group-qvrb-zPq {
    width: calc(100% - 6.3rem);
    height: 58.2rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 3.9rem 3.5rem 2.4rem;

    .rectangle-9-gnT {
      width: 40.2rem;
      height: 46.7rem;
      position: absolute;
      left: 2.9rem;
      top: 0;
      background-color: #d9d9d9;
    }
    .rectangle-10-25d {
      width: 39.8rem;
      height: 46.7rem;
      position: absolute;
      left: 48.9rem;
      top: 0;
      background-color: #d9d9d9;
    }
    .item-49-Mdh {
      left: 61.3rem;
      font-size: 6.4rem;
      font-family: Inter, 'Source Sans Pro';
      width: 13rem;
      height: 7.8rem;
      position: absolute;
      top: 4.1rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .rectangle-11-dLK {
      width: 39.7rem;
      height: 46.7rem;
      position: absolute;
      left: 94.8rem;
      top: 0.2rem;
      background-color: #d9d9d9;
    }
    .item-0-N31 {
      width: 8.8rem;
      position: absolute;
      left: 18.7rem;
      font-size: 6.4rem;
      color: #ffffff;
      white-space: nowrap;
      height: 7.8rem;
      top: 4.1rem;
      font-weight: 800;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-99-ULw {
      font-size: 6.4rem;
      line-height: 1.2125;
      color: #ffffff;
      width: 12.9rem;
      top: 4.1rem;
      left: 108.4rem;
      font-weight: 800;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 7.8rem;
      position: absolute;
    }
    .polygon-1-aum {
      vertical-align: top;
      width: 46rem;
      height: 44rem;
      position: absolute;
      left: 0;
      top: 14.2rem;
      object-fit: contain;
    }
    .line-9-j1y {
      position: absolute;
      left: 11.6rem;
      top: 40.5rem;
      background-color: #d9d9d9;
      width: 21rem;
      height: 0.1rem;
    }
    .start-a-free-trial--4K9 {
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 800;
      color: #d9d9d9;
      width: 21.3rem;
      top: 35.3rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 11.3rem;
    }
    .free-access-ieb {
      height: 3rem;
      cursor: pointer;
      left: 11.3rem;
      top: 37.6rem;
      font-size: 2.4rem;
      color: #d9d9d9;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 18rem;
      position: absolute;
      font-weight: 800;
      line-height: 1.2125;
    }
    .polygon-2-cEB {
      object-fit: contain;
      vertical-align: top;
      width: 46rem;
      height: 44rem;
      position: absolute;
      left: 45.8rem;
      top: 14.2rem;
    }
    .line-10-9V1 {
      background-color: #d9d9d9;
      width: 25.9rem;
      height: 0.1rem;
      position: absolute;
      left: 56.6rem;
      top: 40.2rem;
    }
    .months-plan-avail-your-plan-now--gUw {
      height: 5.9rem;
      cursor: pointer;
      left: 56.9rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      width: 25.9rem;
      position: absolute;
      top: 34.3rem;
      font-weight: 800;
      color: #d9d9d9;
      font-family: Inter, 'Source Sans Pro';
    }
    .polygon-3-BRh {
      object-fit: contain;
      vertical-align: top;
      width: 46rem;
      height: 44rem;
      position: absolute;
      left: 91.7rem;
      top: 14.2rem;
    }
    .line-11-huq {
      position: absolute;
      left: 102.3rem;
      top: 40.2rem;
      background-color: #d9d9d9;
      width: 25.9rem;
      height: 0.1rem;
    }
    .full-year-plan-avail-your-plan-now--eaB {
      height: 5.9rem;
      cursor: pointer;
      left: 102.7rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #d9d9d9;
      width: 25.9rem;
      font-family: Inter, 'Source Sans Pro';
      top: 34.4rem;
      position: absolute;
    }
  }
  .auto-group-m4lx-8VM {
    width: 100%;
    height: 20.2rem;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 15.2rem 1.6rem 5.2rem;

    .auto-group-npj1-2qd {
      height: calc(100% - 6.3609rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.3rem 0.625rem 3.061rem 0rem;

      .instagram-color-svgrepo-com-1-wxb {
        margin: 0rem 0.375rem 1.6rem 0rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .instagram-r3y {
          width: 2.6rem;
          height: 2.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .facebook-svgrepo-com-1-mgj {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.5608rem;
        width: 2.7rem;
        height: 2.7rem;
        position: relative;
        object-fit: contain;
      }
      .youtube-svgrepo-com-1-Jgf {
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.025rem;
        width: 3.15rem;
        height: 2.0783rem;
        object-fit: contain;
      }
    }
    .auto-group-kfzr-Pi7 {
      margin: 3.7rem 8.3rem 2.4rem 0rem;
      height: calc(100% - 6.1rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .instagram-89u {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .facebook-r5u {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.9rem;
      }
      .youtube-Zm1 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .auto-group-uwet-uZy {
      margin: 3.675rem 0.475rem 2.469rem 0rem;
      height: calc(100% - 6.1438rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .linkedin-svgrepo-com-1-2uV {
        margin: 0rem 0rem 1.634rem 0.075rem;
        width: 2.85rem;
        height: 2.85rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .gmail-icon-logo-svgrepo-com-1-Mgs {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.7594rem;
        width: 2.9rem;
        height: 1.8811rem;
        position: relative;
      }
      .twitter-1-svgrepo-com-1-HqR {
        flex-shrink: 0;
        margin-left: 0.2rem;
        width: 3.325rem;
        height: 2.7313rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-gozf-ChV {
      height: calc(100% - 6.1rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.7rem 31.3rem 2.4rem 0rem;

      .linkedin-Kn7 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1rem 0.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
      .g-mail-epP {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 0.9rem 0.5rem;
      }
      .twitter-Anj {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-2-Wbh {
      width: 0.0966rem;
      height: 0.1rem;
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 6.414rem 16.9rem 0rem;
    }
    .auto-group-zkhh-pMV {
      height: calc(100% - 10.7635rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.363rem 0.7rem 7.4rem 0rem;

      .call-receive-svgrepo-com-1-TfM {
        height: 2.2539rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.288rem 1.483rem 0rem;
        width: 2.6006rem;
      }
      .location-pin-svgrepo-com-1-mvw {
        width: 2.1rem;
        height: 2.4999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-peeb-ibH {
      margin: 3.4rem 0rem 2.6rem 0rem;
      height: calc(100% - 6rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item-91-9876556789-49M {
        margin-bottom: 1.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .a-405-sai-ratnam-cabin-rd-bhayander-east-mumbai-maharashtra-401105-india-yn7 {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 44.7rem;
        font-size: 2rem;
      }
    }
  }
}
